<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidExample"
        tools:targetApi="31">
        <service
            android:name=".WebSocketService"
            android:enabled="true"
            android:exported="true"/>
        <activity
            android:name=".Payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Redemption.RedeemActivity"
            android:exported="false" />
        <activity
            android:name=".Messaging.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Messaging.MessageInboxActivity"
            android:exported="false" />
        <activity
            android:name=".Groups.GroupPageActivity"
            android:exported="false" />
        <activity
            android:name=".ExerciseSelection.ExerciseSelectActivity"
            android:exported="false" />
        <activity
            android:name=".Friends.FriendPageActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutTemplate.EditWorkoutTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutTemplate.WorkoutTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"/>
        <activity
            android:name=".Nutrition.NutritionActivity"
            android:exported="false"/>
        <activity
            android:name=".Profile.ProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".Challenges.ChallengesActivity"
            android:exported="false"/>
        <activity
            android:name=".Profile.EditProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".Profile.ChangePasswordActivity"
            android:exported="false"/>
        <activity
            android:name=".Trainers.TrainerPageActivity"
            android:exported="false"/>
        <activity android:name=".Leaderboard.EventActivity"
            android:exported="false"/>
        <activity
            android:name=".Trainers.TrainerProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>